
# Archivos del Sistema
.DS_Store
Thumbs.db
*.log


# CONFIGURACIÓN DEL BACKEND (Spring Boot)

backend/HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!**/backend/src/main/**/target/
!**/backend/src/test/**/target/

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
!**/backend/src/main/**/build/
!**/backend/src/test/**/build/


# CONFIGURACIÓN DEL FRONTEND (Angular)

# Compiled output
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/

# Node
frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log

# Miscellaneous
frontend/.angular/cache/
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage/
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings/
frontend/__screenshots__/


# CONFIGURACIÓN DE EDITORES E IDEs (Compartido para ambos)

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
backend/.idea/
frontend/.idea/

### Visual Studio Code ###
.vscode/*
.history/*
frontend/.history/*
backend/.history/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
