<router-outlet>
  <div class="min-h-screen w-full bg-slate-50 flex justify-center items-start p-4">
    <div class="w-full max-w-md bg-white rounded-2xl border border-none p-6 md:p-8 shadow-sm mt-16">
    @if (usuarioLogueado) {
      <p class="text-sm text-gray-500">Bienvenido de vuelta: <span class="text-blue-600 font-semibold">{{ usuarioLogueado }}</span></p>
    } @else {
      <p>Cargando información del usuario...</p>
    }
    <button  class="w-full mt-2 py-2.5 bg-gray-600 text-white font-semibold rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200" (click)="logout()">Cerrar Sesión</button>

  <div class="w-full max-w-md bg-white rounded-2xl border border-gray-50 shadow-sm p-6 md:p-2 mt-8">
    <button >Prestamo</button>
  </div>
  <div class="w-full max-w-md bg-white rounded-2xl border border-gray-300 p-2 md:p-8 shadow-sm mt-8">
    <h5>Solicitar Prestamo</h5>
    <h3>Ingrese el monto que desea solicitar</h3>
    <form class="space-y-4">
      <div class="flex flex-col">
        <label for="monto" class="text-sm font-medium text-gray-700 mb-1">Monto:</label>
      </div>
      <div class="flex flex-col">
        <input type="number" id="monto" name="monto" required [(ngModel)]="monto"
               class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition">
        <button type="submit" (click)="goToSolicitarPrestamo()"
                class="w-full mt-2 py-2.5 bg-gray-600 text-white font-semibold rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200">
          Solicitar
        </button>
      </div>

    </form>
  </div>
    <div class="w-full max-w-md bg-white rounded-2xl border border-gray-300 p-2 md:p-8 shadow-sm mt-8">
    <h5>Mis prestamos</h5>
    <form class="space-y-4">
      <div class="flex flex-col">
        @for (item of listaMisPrestamos; track item) {
          <div class=" flex flex-row w-full  text-sm font-medium text-gray-700 mb-1 md:p8 ">
            <p class="text-sm font-medium text-gray-700  p-2"><strong>Monto:</strong> ${{ item.monto }}</p>
            <p class="text-sm font-medium text-gray-700 p-2"><strong>Estado:</strong> <span >{{ item.status }}</span></p>
          </div>
    } @empty {
      <p class="text-sm font-medium text-gray-700 mb-1">No tienes ningún préstamo registrado actualmente.</p>
    }
      </div>
    </form>
  </div>
  </div>
  </div>

</router-outlet>
